version: '3'

services:
  db : 
    image: mysql
    container_name: cda_brief3_mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_USER: db_user
      MYSQL_PASSWORD: dbpassword
      MYSQL_DATABASE: streaming_db
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata:

